# Geospatial Data Analytics - Example 2-2: Japan Universities (QGIS Choropleth)
### Multi-platform: EXCEL + PYTHON + QGIS
___

## STAGE ONE: Data Cleaning
Original Dataset: DATA-Japan_Universities.csv

EXCEL Spreadsheet Steps:
1. Find & select the column 'code'.
2. Insert 1 column to the right → Name column header: AREA
3. In this new column on the first cell, enter: =MID(B2,3,2)
4. Press: Ctrl+Shift+↓ (to select all the cells in the column w/o header)
5. Press: Ctrl+d (to apply the formula to all cells)
6. Insert 1 column to the right → Name column header: FIPS
7. In this new column on the first cell, enter: =TEXT(C2,"JP-00")
8. Press: Ctrl+Shift+↓ (to select all the cells in the column w/o header)
9. Press: Ctrl+d (to apply the formula to all cells)
10. Remove unwanted columns
11. File export and saved as **DATA-JP-UNI-CLEAN1.xlsx**

In [10]:
# Libraries import
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
# CSV Dataset Load
df = pd.read_excel('/IT Training/DatasetsForLearning/GSDA/DATA-JP-UNI-CLEAN1.xlsx', sheet_name='DATA-Japan_Universities.csv')
df.head()

,code,AREA,FIPS,name,state,latitude,longitude
0,F101110100010,1,JP-01,Hokkaido University,Hokkai Do,43.070446,141.347153
1,F101110100029,1,JP-01,Hokkaido University of Education,Hokkai Do,43.170498,141.393753
2,F101110100038,1,JP-01,Muroran Institute of Technology,Hokkai Do,42.378716,141.034042
3,F101110100047,1,JP-01,Otaru University of Commerce,Hokkai Do,43.190952,140.979370
4,F101110100056,1,JP-01,Obihiro University of Agriculture And Veterina...,Hokkai Do,42.872356,143.177979

___
## STAGE TWO: Data Sorting
Based on the above dataset: DATA-P-UNI-CLEAN1.xlsx

PANDAS Steps (See below):
1. Find unique values of the column 'FIPS'.
2. Count numbers for each prefecture codes.
3. Export the data to file: **DATA-JP-UNI-CLEAN2.csv**
4. Import this file into QGIS.

In [12]:
# Stage two: Step 1
df['FIPS'].unique()

array(['JP-01', 'JP-02', 'JP-03', 'JP-04', 'JP-05', 'JP-06', 'JP-07',
       'JP-08', 'JP-09', 'JP-10', 'JP-11', 'JP-12', 'JP-13', 'JP-14',
       'JP-15', 'JP-16', 'JP-17', 'JP-18', 'JP-19', 'JP-20', 'JP-21',
       'JP-22', 'JP-23', 'JP-24', 'JP-25', 'JP-26', 'JP-27', 'JP-28',
       'JP-29', 'JP-30', 'JP-31', 'JP-32', 'JP-33', 'JP-34', 'JP-35',
       'JP-36', 'JP-37', 'JP-38', 'JP-39', 'JP-40', 'JP-41', 'JP-42',
       'JP-43', 'JP-44', 'JP-45', 'JP-46', 'JP-47'], dtype=object)

In [17]:
# Stage two: Step 2
df1=df['FIPS'].value_counts(sort=False).reset_index()
df1

     FIPS  count
0   JP-01     37
1   JP-02     10
2   JP-03      6
3   JP-04     14
4   JP-05      7
5   JP-06      6
6   JP-07      8
7   JP-08     11
8   JP-09      9
9   JP-10     14
10  JP-11     27
11  JP-12     27
12  JP-13    148
13  JP-14     32
14  JP-15     22
15  JP-16      5
16  JP-17     14
17  JP-18      6
18  JP-19      7
19  JP-20     11
20  JP-21     13
21  JP-22     14
22  JP-23     52
23  JP-24      7
24  JP-25      9
25  JP-26     34
26  JP-27     58
27  JP-28     36
28  JP-29     11
29  JP-30      5
30  JP-31      3
31  JP-32      2
32  JP-33     18
33  JP-34     21
34  JP-35     10
35  JP-36      4
36  JP-37      4
37  JP-38      5
38  JP-39      5
39  JP-40     36
40  JP-41      2
41  JP-42      8
42  JP-43      9
43  JP-44      5
44  JP-45      7
45  JP-46      6
46  JP-47      8

In [18]:
# Stage two: Step 3
df1.to_csv('DATA-JP-UNI-CLEAN2.csv', index=False)

___
**STAGE THREE (SEE QGIS)**